.updateDivContainer{
    display: flex;
    margin: 45px auto;
}

.imageDivUpdate{
    width: 50%;
}
.imageDivUpdate>img{
    width: 75%;
    height: 450px;
    margin: 5px auto;
}

.infoDivUpdate{
    width: 50%;
}

.inputUpdateDiv input{
    border-radius: 3px;
    font-size: 18px;
}
.restockBtn{
    background-color: #1EA24C;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    color: #ffff;
}

.deliveredBtn{
    padding: 9px 110px;
    border-radius: 5px;
    background-color:#FA7530;
    border: 0;
    font-size: 18px;
    color: #ffff;
}